<header class="masthead text-white text-center ">
  <div class="overlay "></div>
  <div class="container ">
    <div class="row ">
      <div class="col-xl-10 mx-auto ">
        <br />
        <h1 style="font-size: 60px; font-weight: bold; margin-top: 15px;">
          EASYFIS ONLINE 
          <br />
          SHOP INTEGRATOR
        </h1>
        <hr style="background-color: white; height: 1px; width: 80%;" />
        <br />
        <p class="lead " style="font-size: 25px; margin-top: -20px; color: gainsboro;">
          Manage your orders using cloud!
        </p>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto ">
        <br />
        <button type="submit " class="btn btn-lg btn-primary " routerLink="/software">Integrate</button>
      </div>
    </div>
  </div>
</header>