<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/logo/easyfislogo.png" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <a routerLink="/account/login" class="btn btn-primary" href="#" role="button">Login</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<div class="home-footer">
    <div class="container">
        <b>Easyfis Online Shop Integrator</b> V.20180102.1132.NOR
    </div>
</div>