/* You can add global styles to this file, and also import other style files */
.btn-xs {
    padding: 0.1rem 0.1rem !important;
    font-size: 0.775rem !important; 
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
}

.form-group-label {
    text-align: left;
}

@media (min-width: 768px) {
    .form-group-label {
        text-align: right;
    }
}