<div class="container-fluid">

  <div class="row">
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/mst-shop-group">
        <br />
        <img src="../../../assets/img/icons/shopgroup.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Group
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/mst-shop-order-status">
        <br />
        <img src="../../../assets/img/icons/shoporderstatus.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Status
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/trn-shop-order-list">
        <br />
        <img src="../../../assets/img/icons/shoporder.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Orders
        </h5>
        <br />
      </button>
      <br />
    </div>
    <div class="col-lg-3">
      <button type="button" class="btn btn-light btn-block" routerLink="/software/rep-order-summary-report">
        <br />
        <img src="../../../assets/img/icons/report.png" height="100" alt="">
        <br />
        <br />
        <h5>
          Report
        </h5>
        <br />
      </button>
      <br />
    </div>
  </div>
</div>